<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    Dada esta lista de numeros: [4,6,3,2,-3,2]<br>
    1- Cargar esta lista en un array del objeto vue.<br>
    2- Mostrar la lista con un li<br>
    3- Pedir un numero y agregarlo a la lista.<br>
    <div id="app">
        {{numeros}}
        <li v-for="n in numeros">
            {{n}}
        </li>
        Coloca el numero para agregar a la lista <input type="number" v-model="n">
        <button v-on:click="agregarNumero">Agregar</button>
    </div>
    <script>
        const {createApp} = Vue 
        createApp({
            data(){
                return{
                    numeros : [4,6,3,2,-3,2],
                    n: 0
                }
            },
            methods:{
                agregarNumero(){
                    this.numeros.push(this.n)
                }
            }
        }).mount('#app')
    </script>

</body>
</html>